*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: rgb(250, 107, 131);
}
.nav-link{
    color: darkmagenta !important;
    font-size: 28px;
    letter-spacing: 2px;
}
.body{
    background-color: pink;
}
.jumbotron{
    background-image: url(../imagenes/Entrada.jpeg);
    height: 650px;
    background-position: center;
    background-size: cover;
}
.jumbotron h1{
    margin-top: 300px;
    text-align: center;
    color: red;
    text-shadow: 0 0 5px blue;
}
h2{
    background-color: darkmagenta;
    color: yellow;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: 
    "img1 img2 "
    "img3 img4"
    "img5 img4";
    grid-gap: 15px;
    padding: 10px;
}
.item{
    border: 5px solid darkmagenta;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    transition: all 0.7s;
    filter: grayscale(100%);
}
.item:hover{
    filter: grayscale(0%);
    transform: scale(1.09);
}
.item1{
    grid-area: img1;
    background-image: url(../imagenes/cerealitas.png);
}
.item2{
    grid-area: img2;
    background-image: url(../imagenes/don\ satur.png);
}
.item3{
    grid-area: img3;
    background-image: url(../imagenes/pepito.png);
}
.item4{
    grid-area: img4;
    background-image: url(../imagenes/triopepas.jpeg);
}
.item5{
    grid-area: img5;
    background-image: url(../imagenes/rumba.png);
}
.fin-galeria{
    background-color: pink;
    text-align: center;
    font-size: 35px;
}
.fin-galeria p{
    color: darkmagenta;
    text-decoration: underline;
}
.fin-galeria a{
    background-color: yellow;
    border: 5px solid blue;
    border-radius: 7px;
    text-decoration: none;
}
.fin-galeria a:hover{
    background-color: black;
}
.nleft{
    background-image: url(../imagenes/ProductosEstanterias.webp);
    height: 300px;
    background-size: cover;
    background-position: center;
}
h3{
    background-color: darkmagenta;
    color: yellow;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 5px blue;
    text-transform: uppercase;
}
.quienes-somos{
    font-size: 25px;
    text-transform: uppercase;
    background-color: yellow;
    text-align: center;
}
.mas-info{
    margin-left: 400px;
    background-color: yellow;
    border: 5px solid blue;
    border-radius: 7px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}
.mas-info:hover{
    background-color: black;
}
h4{
    background-color: darkmagenta;
    color: yellow;
    text-shadow: 0 0 5px blue;
    font-size: 30px;
    margin: 25px;
    padding: 10px;
}
article{
    border: 2px solid black;
    text-align: center;
}
article i{
    font-size: 50px;
    color: darkmagenta;
}
article p{
    font-size: 30px;
    color: darkmagenta;
}
.nosotros2{
    background-color: white;
    border: 5px solid black;
    border-radius: 7px;
}

.contacto{
    text-align: center;
}
.input{
    border-radius: 10px;
    background-color: aqua;
    color: red;
    border: 5px solid black;
    box-shadow: inset 0 0 5px red;    
}
.submit{
    font-size: 23px;
    border: 5px solid black;
    background-color: yellow;
    color: blue;
}
.submit:hover{
    background-color: red;
}
label{
    font-size: 30px;
    color: blue;
}
.main{
    background-color: yellow;
    color: darkmagenta;
    font-size: 30px;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 60vh;
    width: 100vh;
}
.nosotros-quienes-somos h1{
    text-align: center;
    color: darkmagenta;
    text-shadow: 0 0 5px blue;
    text-decoration: underline;
    font-size: 45px;
}
.nosotros-quienes-somos p{
    text-align: center;
    color: red;
    font-size: 30px;
}
.nosotros2 h1{
    margin-bottom: 100px;
    margin-top: 100px;
    color: darkmagenta;
    text-shadow: 0 0 5px blue;
    text-decoration: underline;
    font-size: 45px;
    text-transform: uppercase;
}
.nosotros2 p{
    color: red;
    font-size: 35px;
}
.ubicacion h1{
    color: red;
}
.ubicacion{
    text-align: center;
}
footer{
    background-color: darkmagenta;
    text-align: center;
    color: yellow;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0 0 5px blue;
}
footer a{
    color: blue;
    font-size: 35px;
    letter-spacing: 35px;
    text-decoration: none;
}
footer a:hover{
    color: yellow;
}
.whatsapp{
    height: 35px;
    width: 33px;
    color: blue;
    position: fixed;
    right: 40px;
    bottom: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
}